extends layout

block content
  #content
    h1 Debate: #{title} 
  p= topic
  p= duration

  #code
    p Participants
    ul
      li= participantA
      li= participantB

  #audience
    p Audience code is #{audienceCode}
    ul
      each user in audience
        li= user

  #startDebate Start Debating

  #chart

  script(src="https://d3js.org/d3.v4.min.js")
  script(src="/javascripts/live-session.js")
