extends layout

block content
	#page.container
		//- Join header
		.row
			.six.columns
				div
					span Join the fun at 
					u#joinLocation ...
				div
					span Enter code 
					strong#audienceCode #{audienceCode}
			.six.columns(style='text-align:right')
				button#startDebate.button-primary Start Debating
				#timeRemaining.hidden= allowedDuration
		hr
		//- Page contents
		.row
			.twelve.columns 
				h3(style='text-align:center') #{title} 
		.row
			.five.columns(style='text-align:right')
				h5#opinionA #{participantA}
			.two.columns(style='text-align:center')
				h5 vs
			.five.columns
				h5#opinionB #{participantB}
		.row.hidden
			#theUndecided #{undecided}
		hr
		//- Game
		.row
			.nine.columns
				#chart
					a-scene#main(embedded='', background='color: #222222', vr-mode-ui='enabled: false')
						a-box#aBar(position='-1 0.125 -3', rotation='0 0 0', scale='.5 .25 1', color='#4CC3D9')
						a-text#player1(value=participantA, color='#FFFFFF', rotation='0 0 90', position='-.80 0.75 -2', scale='.5 .5 .5', align='center')
						a-box#cBar(position='0 0.125 -3', rotation='0 0 0', scale='.5 .25 1', color='#666666')
						a-text#player3(value='Undecided', color='#FFFFFF', rotation='0 0 90' position='0 0.75 -2', scale='.5 .5 .5', align='center')
						a-box#bBar(position='1 0.125 -3', rotation='0 0 0', scale='.5 .25 1', color='#f44242')
						a-text#player2(value=participantB, color='#FFFFFF', rotation='0 0 90', position='.80 0.75 -2', scale='.5 .5 .5', align='center')
						a-plane(position='0 0 -4', rotation='-90 0 0', width='10', height='4', color='#515151', shadow='')
			.three.columns
				ul#audience
					each user in audience
						li= user



		script(src="/javascripts/moderate-debate.js")
