extends layout

block content
  #page
    #audience
      p Join the fun at 
        span#joinLocation ... 
        span and enter code 
          span#audienceCode #{audienceCode}
      ul
        each user in audience
          li= user

    #content
      h1 #{title} 

    #code
      p Opinion Poll
      ul
        li#opinionA #{participantA}
        li#opinionB #{participantB}
        li#theUndecided #{undecided}

    #startDebate Start Debating

    #timeRemaining= allowedDuration

    #chart

  script(src="/javascripts/moderate-debate.js")
