extends layout

block content
	#page.container
		//- Join header
		.row
			.six.columns
				div
					span Join the fun at 
					u#joinLocation ...
				div
					span Enter code 
					strong#audienceCode #{audienceCode}
			.six.columns(style='text-align:right')
				button#startDebate.button-primary Start Debating
				#timeRemaining.hidden= allowedDuration
		hr
		//- Page contents
		.row
			.twelve.columns 
				h3(style='text-align:center') #{title} 
		.row
			.five.columns(style='text-align:right')
				h5#opinionA #{participantA}
			.two.columns(style='text-align:center')
				h5 vs
			.five.columns
				h5#opinionB #{participantB}
		.row.hidden
			#theUndecided #{undecided}
		hr
		//- Game
		.row
			.nine.columns
				#chart
			.three.columns
				ul#audience.pull-left
					each user in audience
						li.pull-left= user

	script(src="/javascripts/moderate-debate.js")
