extends layout

block content
  #page
    #audience
      p Join the fun at 
        span#joinLocation ... 
        span and enter code 
          span#audienceCode #{audienceCode}
      ul
        each user in audience
          li= user

    #content
      h1 #{title} 

    #code
      p Opinions
      ul
        li= participantA
        li= participantB

    #startDebate Start Debating

    #timeRemaining= allowedDuration

    #chart

  script(src="https://aframe.io/releases/0.8.2/aframe.min.js")
  script(src="/javascripts/moderate-debate.js")
